div(class="col-lg-3 col-sm-6 col-12")
  img(src=image class="product-image")
  div=name
  div=`$${price}`
  if (inCart)
    button(class="btn btn-danger btn-remove-from-cart" data-product=_id) Quitar del carrito
  else
    button(class="btn btn-primary btn-add-to-cart" data-product=_id) Agregar al carrito
  endif